body {
  font-size: 18px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  background-color: lightslategray;
}

header {
  width: 100%;
  display: flex;
  background-color: lightgray;
  justify-content: space-between;
  align-items: center;
}

.back {
  width: 100%;
  margin: 15px 15px;
  padding: 20px 20px;
}

.container {
  display: flex;
  flex-flow: row wrap;
  background-color: skyblue;
  padding: 15px 20px;
  margin: 20px 50px;
  border: 1px solid blue;
  border-radius: 5px;
}

label {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
}

input {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid cadetblue;
  border-radius: 5px;
}

select {
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid cadetblue;
  border-radius: 5px;
}

button {
  background-color: silver;
  width: 100%;
  margin-bottom: 15px;
  padding: 12px;
  border: 1px solid cadetblue;
  border-radius: 5px;
}

button:hover {
  background-color: royalblue;
}
